@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap');


.row {
  max-width: 1080px;
  margin: 20px auto;
  padding: 0 10px;
}
.scrolling-wrapper {
  
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 25px;
  
}

.card {
  display: inline-block;
 
  white-space: normal;
  max-width: 300px;
  
  border-radius: 7px;
  margin: 50px 15px 50px;
  padding: 0 0 10px 0;
}

.card h3 {
  color:#FFFFDE;
  padding: 15px;
  font-size: 18px;
  font-weight: 400;
  margin: 10px 0;

}

.card-date{
  color:#E9b000;
  font-size: 14px;
  padding: 10px;
  margin: 0px;
}
.card a {
  text-decoration: none;
}

.flex {
  display: flex;
  max-width: 1080px;
  flex-wrap: wrap;
  align-items: top;
  justify-content: center;
 
}
.range-filter {
  text-align: center;
  width: 300px;
  margin: 30px;
}
.filter-caption {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.news-img{
  border-radius:7px;
  
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  max-width: 100%;
  
  
}
.featured-news {
  margin: 0 10px;
  max-width: 400px;
}

.featured-news h3 {
  margin: 0 auto;
}
.featured-news a {
  text-decoration: none;
}
::-webkit-scrollbar {
  background-color: #E9B000;
  height: 6px;
  width: 10px;
    cursor: pointer;
 
}
::-webkit-scrollbar-thumb{
  background-color: #7e00e9;
  border: none;
  border-radius: 100px;
  
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}


footer {
  padding: var(--spacing-6) var(--spacing-0);
}

hr {
  background: var(--color-accent);
  height: 1px;
  border: 0;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-6);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
  color: #e9b000;
}


.section-background {
  background-color: #000;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin:50px auto;
}
.layer {
  background-color: rgba(70, 70, 69, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.section-txt {
  
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-txt h2 {
  font-size: 100px;  
  font-family: "Finger Paint";
}

.button {
  border: 2px #E9b000 solid;
  border-radius: 25px;
  padding: 10px 17px;
  width: auto;
  color: #E9b000;
  text-decoration: none;
  font-family: Lato;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color:transparent;
 
  transition: background-color .6s ease-in, box-shadow .3s ease-out;
  cursor: pointer ;
}

.button a {
  text-decoration: none;
  color: #E9b000;
}
.button a:hover {
text-decoration: none;
color: #fff;
}

.button:hover{
background-color:#E9b000;
color: #fff;
box-shadow: 0px 0px 10px 2px #EB9000;


}

strong{
  color:#e9b000;
}

.hidden {
  display: none;
}

.brand-logo{
  border-radius: 100%;
  width: 83px;
  margin: 15px;
  background-color: white;
}

.logo-listing {
  background-color: white;
  width: 45px;
  border-radius: 100%;
  height: auto;
  
}

.logo-container {
  margin: -20px 0 0 0;
  
  border-radius: 100%;
}

.padding-catalog p {
  padding: 0 15px;
  margin: 0;
}

.range {
  display: inline-block;
  width: 150px;
  cursor: pointer;
  margin: 15px 0;
  background: #eb9000;
  border-radius: 4px 4px 4px 4px;
  height: 2px;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #eb9000;
  cursor: pointer;
}

.range::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #eb9000;
  cursor: pointer;
}

.tag {
  display: inline-block;
border: 1px solid #e9b000;
border-radius: 25px;
width: auto;
color: #919191; 
padding: 7px 17px;
margin: 20px; 
font-size: 14px;
transition: background-color .6s ease-in, box-shadow .3s ease-out;
text-decoration: none;
}

.tag:hover {

    color: #E9b000;
    background-color: #fff;
    box-shadow: 0px 0px 10px 2px #EB9000;
  
}

.lead {
  font-size: 25px;
font-family: Lato;
font-style: italic;
font-weight: 300;
color: #919191;
padding-bottom: 25px;
}

.catalog-featured-image {
  float: left;
  width: 50%;
  padding-right: 20px;
}

.catalog-lead {
 
  padding-left: 10px;
}

.catalog-lead h2{
  margin-top: 0;
}

.featured-tech {
  width: 25%;
  padding: 0 15px;
  min-width: 150px;
}

.featured-tech h3 {
  margin-top: 10px;
}

.catalog-spec {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  align-items: center;
  border-bottom: 1px solid #e9b000;
}

.catalog-spec:hover {
  background-color: rgb(61, 61, 63);
}

.spec-headline p {
font-size: 20px;
font-weight: 700;
width: 200px
}
.spec-desc {
  padding-left:100px;
  
}

.gallery-catalog {
  max-width: 250px;
  padding: 10px;
}
/* Media queries */

@media (max-width: 800px) {
  .brand-logo {
    width: 53px;
  }
  .catalog-featured-image {
    width: 100%;
   
  }
  
  .catalog-lead {
    width: 100%;
    
  }
  .gallery-catalog {
    max-width: 100%;
  }
}
.przemek {
  border-radius: 20px;
}